<template name="stationItem">
  {{#if IsStationList}}
  <div class="post">
    <div class="post-content">
      <h3>{{name}}
        <p/>
        <span>{{id}}</span></h3>
    </div>
      <a href="{{pathFor 'stationPage'}}" class="discuss btn">Station Details</a>
  </div>
  {{else}}
  <div class="post">
    <div class="post-content">
      <h3>{{name}} <span>{{id}}</span></h3>
    </div>
  </div>
    <div class="post">
    <div class="post-content">
      <h3>Liveboard</h3>
      <p/>
      <span>{{departures}}</span>
    </div>
  </div>
  {{/if}}
</template>